// -----------------------------------------------------------------------------
// Imports
// -----------------------------------------------------------------------------

@import '/node_modules/normalize.css/normalize.css';

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$green-500: #0faf67;
$green-300: #1c5c40;

$white-900: #ffffff;
$white-800: #e0e0e0;

$black-100: #000000;
$black-200: #111111;

$block-border-radius: 0.8rem;
$block-padding: 1.5rem;

$input-border-radius: 0.8rem;
$input-padding: 2rem;

// -----------------------------------------------------------------------------
// Mixins
// -----------------------------------------------------------------------------

@mixin absolutely-centered() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin paper-styled() {
  padding: $block-padding;
  border-radius: $block-border-radius;
  background-color: $white-900;
}

@mixin offset($value) {
  top: $value;
  right: $value;
  bottom: $value;
  left: $value;
}

@mixin padding-vertical($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin padding-horizontal($value) {
  padding-left: $value;
  padding-right: $value;
}

// -----------------------------------------------------------------------------
// Globals
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;

  color: $black-200;
  background-color: $white-800;

  font-size: 2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  list-style: none;
}

label,
button,
input[type='text'],
input[type='search'] {
  display: block;
}

button,
input[type='text'],
input[type='search'] {
  border: 2px solid black;
  padding: 0.3em 0.5em;
  border-radius: 0.25em;
}

button {
  background-color: $white-900;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    transform: scale(1.1);
  }
}

// -----------------------------------------------------------------------------
// App
// -----------------------------------------------------------------------------

#app {
  // ---------------------------------------------------------------------------
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // ---------------------------------------------------------------------------
  & > * {
    @include padding-horizontal(calc((100vw - 144rem) / 2));
  }

  & > main {
    @include padding-vertical($block-padding);
    flex-grow: 1;
  }

  & > footer {
    margin-top: auto;
  }

  // ---------------------------------------------------------------------------
  & > header,
  & > footer {
    display: flex;
    align-items: center;

    font-size: 2rem;
    color: $white-900;
  }

  // ---------------------------------------------------------------------------
  & > header {
    height: 6rem;
    background-color: $green-500;
    justify-content: space-between;
  }

  & > footer {
    height: 12rem;
    background-color: $green-300;
    justify-content: center;
  }
}

// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

#logo > a {
  color: inherit;
  text-decoration: none;
}

#welcome {
  & > code {
    cursor: pointer;
    &::before,
    &::after {
      content: '"';
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

// -----------------------------------------------------------------------------
// Search Page
// -----------------------------------------------------------------------------

#search-page {
  display: flex;
  justify-content: space-between;

  & > aside {
    flex: 1;
    margin-right: 2rem;
    @include paper-styled();

    p {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }

    input[type='checkbox'] {
      margin-right: 1ch;
    }
  }

  & > main {
    flex: 3;

    display: flex;
    flex-direction: column;
  }
}

#post-list {
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > li {
    @include paper-styled();

    max-height: 30rem;
    flex: 0 0 48%;

    margin: 2rem 0;

    img {
      float: left;
      margin-right: 1rem;
    }

    h3 {
      margin-top: 1rem;
    }

    a {
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}

#page-list {
  @include paper-styled();

  min-height: 4rem;
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  & > li {
    $side-length: 4rem;

    min-width: $side-length;
    min-height: $side-length;

    cursor: pointer;

    font-size: 2.2rem;

    margin-left: 1.5rem;

    border-radius: $input-border-radius;
    border: 2px solid black;

    text-align: center;
    line-height: $side-length;

    &[data-is-active='true'] {
      background-color: $green-300;
      color: $white-800;
      cursor: default;
    }
  }
}

// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

// ...

// -----------------------------------------------------------------------------
// Modal
// -----------------------------------------------------------------------------

#modal-root {
  & > * {
    position: fixed;
  }

  & > .background {
    z-index: 100;
    opacity: 0.6;
    background-color: $black-100;
    @include offset(0);
  }

  & > .content {
    z-index: 101;
    @include absolutely-centered();
    @include paper-styled();
  }

  // another unoptimized piece of code
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    gap: 1rem;
  }

  legend {
    font-size: 1.5em;
  }
}

// -----------------------------------------------------------------------------
// EOF
// -----------------------------------------------------------------------------
